.error{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    flex-direction: column;
    /* background-color: rgba(199, 171, 171, 0.432); */
}